@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background-color: #e9e9e9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/*  Nav  */
.menuOff{
  width: 1px;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease-in all 500ms;

}
.menuOn{
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: ease-in all 500ms;
  z-index: 100;
}

