@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/*  Nav  */
.menuOff{
  width: 1px;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: ease-in all 500ms;

}
.menuOn{
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: ease-in all 500ms;
  z-index: 100;
}

.sombra-texto{
  text-shadow: 1px 2px 3px #000;
}

/* Define la animación */
@keyframes slideInFromLeft {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(110%);
  }
}


/* Aplica la animación a los elementos que la necesiten */
.slide-in-left {
  animation: slideInFromLeft 14s  forwards;
  transition: all;
}

@keyframes tranImg {
  100% { opacity: 1; filter: blur(0px) saturate(100%);  }
  0% { opacity: 0.7; filter: blur(5px) saturate(200%);  }
}

.tran {
  background-color: #000000; 
  opacity: 1; 
  animation: tranImg 2000ms forwards;
}


@keyframes aniTexto {
  0%{top: 80vh;}
  100%{top: 36vh;}  
}

.animacion-texto{
  position: absolute;
  animation: aniTexto 1000ms forwards;
  transition: all;
}

/*  Loading  */

.loader {
  width: 60px;
  height: 60px;
 }
 
 .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 2px solid #3147a0;
  border-right: 2px solid transparent;
  animation: spinner8217 0.8s linear infinite;
 }
 
 @keyframes spinner8217 {
  to {
   transform: rotate(360deg);
  }
 }



/* nav */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 17px;
  margin-left: -10px;
}

.dropdown-content .enlace {
  border: 1px solid #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .enlace:hover {
  background-color: #ddd;
  transition: all 200ms;
}

.dropdown:hover .dropdown-content {
  display: block;
}






/* caracteristicas */

.contenedor {
  overflow-y: scroll; /* Mostrar barra de desplazamiento solo si es necesario */
  scrollbar-width: none; /* Ocultar la barra de desplazamiento en Firefox */
  -ms-overflow-style: none; /* Ocultar la barra de desplazamiento en IE/Edge */
}
.contenedor::-webkit-scrollbar {
  display: none; /* Ocultar la barra de desplazamiento en Chrome, Safari, y Opera */
}
.bar{
  height: 60px;
  bottom: 0;
  left: 0;
  position: absolute;
  font-size: 18px;
}
.bar2 {
  animation: resize2 auto linear forwards;
  animation-timeline: scroll(nearest);
}
.bar3 {
  animation: resize3 auto linear forwards;
  animation-timeline: scroll(nearest);
}
.bar4 {
  animation: resize4 auto linear forwards;
  animation-timeline: scroll(nearest);
}

.bar5 {  
  animation: resize5 auto linear forwards;
  animation-timeline: scroll(nearest);
}
@keyframes resize2 {
  85% { top: 36px; } 
  100%{top: 120px}
}
@keyframes resize3 {
  45% { top: 72px; }
  50% { top: 120px; }
  100%{top: 160px}
}
@keyframes resize4 {
  30% { top: 110px; }
  40% { top: 180px; }
  100%{top: 200px}
}
@keyframes resize5 {
  10% { top: 210px; }
  100%{top: 240px}
}